
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font
}

/* Navigation */
.top-navigation {
	position: fixed;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	z-index: 9999;
}

.content {
	height: 70px;
	width: 970px;
	padding: 0 15px;
	margin: 0 auto;
}

.links {
	margin-top: 25px;
	margin-right: 50px;
	float: right;
	-webkit-font-smoothing: antialiased;
}

.links li {
	margin-left: 25px;
	display: inline-block;
}


.links li a{
	color: #838994;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 0.03em;
	transition: color 0.50s ease;
}

.links li a:hover{
	color: #333;
	cursor: pointer;
}

.links li a.active {
    color: #4C5058;
    font-weight: 500;
}

.logo {
	margin-top: 15px;
	margin-left: 60px;
}

/* Introduction */
.introduction {
	height: 45.938rem;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	overflow: auto;
}

.introduction h1,
.introduction h3 {
	color: #fff;
	text-align: center;
	font-weight: 300;
}

.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}

.introduction h3 {
	font-size: 1.563rem;
}

button {
	display: block;
	width: 9.688rem;
	margin: 0 auto;
	padding: 1rem 1.5rem;
	font-size: 1em;
	color: #fff;
	background-color: #F15A29; 
	border-color: #F15A29;
    border-style: none;
    border-radius: 4px;
    text-shadow: none;
}

button:hover {
	background-color: #D9400E; 
	border-color: #CF3D0E;
	cursor: pointer;
}

/* Three  Icon */

.cases h2 {
	margin-top: 8rem;
	margin-bottom: 2rem;
	font-size: 3.125rem;
	font-weight: 300;
}

.cases h3 {
	font-size: 1.5em;
	font-weight: 400;
}

.cases .content {
	text-align: center;
}
.flexbox {
  	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.devices li {
	margin-right: 80px;
	display: inline-block;
	float: left;
}

